@model IEnumerable<HotelPortfolio.Models.HotelModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hotelCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hotelBranch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hotelRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hotelCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hotelBranch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hotelRating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.hotelID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.hotelID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.hotelID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
